.search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.img-thumbnail-blog {
    text-align: center;
    width: 78px;
    height: 30px;
}

.context{
    display: flex;
}