#my-course-list {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: start;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 652px;
}

.my-course-item {
    width: 22%;
    margin: 0 15px;
    margin-bottom: 50px;
}


.my-course-item-img {
    width: 100%;
    position: relative;
}

.my-course-item-img:hover > .overlay-img {
    opacity: 1;
    z-index: 1;
}

.my-course-item-img img {
    width: 100%;
    border-radius: 30px;
    display: block;
}

.my-course-item-title {
    color: #292929;
    font-weight: 700;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-course-item-date {
    font-size: 13px;
    color: #666;
    margin-top: 7px;
    margin-bottom: 10px;
}
.my-course-item-desc {
    padding: 0 15px;
}


.my-course-progress {
    background-color: #ddd;
    border-radius: 4px;
    height: 8px;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
}

.my-course-progress::after {
    background-color: #06BBCC;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: width 1s ease;
    width: var(--progress);
}

.overlay-img {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    text-align: center;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease;
}

.btn-continue {
    background-color: #06BBCC;
    color: #fff;
    padding: 9px 16px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
}

#my-course-header {
    padding: 30px 50px;

}

#form-search-info {
    justify-content: end;
    display: flex;
}

#search-my-course {
    border: none;
    background-color: #f9fafb;
    color: #111827;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline-color: #06BBCC;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-icon {
    background-color: #06BBCC;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
}

.display-flex {
    display: flex;
}

.icon-filter {
    color: #06BBCC;
    padding: 3px;
    margin: auto 10px auto 30px;
    font-size: 20px;
    cursor: pointer;
}

.afterTemp {
    position: relative;
}

.afterTemp::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: -30px;
}

#search-category {
    height: 500px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 3;
    top: 117%;
    right: 4px;
    padding: 0 15px;
    border-radius: 10px;
    overflow-y: scroll;
    display: none;
}

.position-relative {
    position: relative;
}

#holder-search-category {
    border-radius: 15px;
    padding: 8px 15px;
    outline-color: #06BBCC;
    border: 1px solid #ccc;
    background-color: #f9fafb;
    color: #111827;
    font-size: 12px;
    margin-bottom: 10px;
}

#form-select-category {
    margin-top: 20px;
    padding: 0 10px;
}

.search-category-item {
    margin-bottom: 25px;
}

.search-category-name {
    display: flex;
    margin-bottom: 7px;
}

.search-category-name>input {
    margin: auto 0;
    margin-right: 10px;
}

.search-category-name>label {
    font-size: 14px;
    margin: auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-sub-category {
    padding: 0 15px;
}

.search-sub-category-name {
    display: flex;
    margin-top: 5px;
}

.search-sub-category-name>input {
    margin: auto 0;
    margin-right: 10px;
}

.search-sub-category-name>label {
    font-size: 12px;
    margin: auto 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#holder-search-input {
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #fff;
    padding-top: 10px;
}

.option-course {
    padding: 5px 8px;
    background-color: #fff;
    color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 5px;
}

.notice-unenroll {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 33px 99px rgb(0 0 0 / 6%), 0 7.37098px 22.1129px rgb(0 0 0 / 8%), 0 2.19453px 6.5836px rgb(0 0 0 / 14%);
    padding: 12px;
    position: absolute;
    top: -28px;
    right: -104px;
    text-align: center;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease;
}

.position-relative {
    position: relative;
}

.notice-unenroll p {
    font-size: 10px;
    color: #242424;
    margin-bottom: 16px;
}

.note-item-header-right i {
    margin-left: 20px;
    color: #bfbfbf;
    font-size: 18px;
    cursor: pointer;
}

.holder-button-delete {
    display: flex;
    justify-content: space-between;
}

.btn-unenroll {
    font-size: 9px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    border: none;
    padding: 4px 10px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-cancel {
    font-size: 9px;
    border-radius: 5px;
    background-color: #bababa;
    color: #fff;
    border: none;
    padding: 4px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.text-progress {
    font-size: 12px;
    padding: 3px 10px;
}

.selected-tag {
    padding: 0 10px;
    margin-right: 13px;
    border-radius: 15px;
    outline-color: #06BBCC;
}

.selected-tag * {
    padding: 10px;
}

#no-course {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#no-course > a {
    padding: 15px 25px;
    background-color: #06bbcc;
    margin-top: 40px;
    display: inline-block;
    color: #fff;
    border-radius: 23px;
    font-weight: bold;
}

#clear-btn {
    margin-left: 15px;
    padding: 5px 8px;
    background-color: #06bbcc;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.ratings {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.star {
    position: relative;
    line-height: 20px;
    display: inline-block;
    transition: color 0.2s ease;
    color: #ebebeb;
}

.star:before {
    content: '\2605';
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.star:hover,
.star.selected {
    transition: color 0.8s ease;
    color: rgb(231, 201, 47);
    cursor: pointer;
}