.container {
    padding: 0 24px;
}

.container-title {
    color: #5a5c69;
    font-weight: 400;
    font-size: 35px;
}

.container-table {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    border-radius: 10px;
}

.table-header {
    font-size: 16px;
    color: #4e73df;
    padding: 16px 20px;
    font-weight: 500;
    background-color: #f8f9fc;
}

.table-content {
    padding: 16px 20px;
}

#add-blog {
    background-color: rgb(54, 93, 205);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
}

.search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search label {
    color: #858796;
    font-size: 16px;
}

.search-form{
    display: flex;
}

#search{
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
}

#submit{
    background-color: rgb(54, 93, 205);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 0 10px 10px 0;
    border: 0;
}

table {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #000000;
    border-collapse: collapse;
}

th i {
    float: right;
    font-size: 22px;
}

th,
td {
    text-align: left;
    padding: 12px;
    border: 1px solid #000;
    color: #858696;
}

th i {
    text-align: right;
    color: #858696;
}

.toggle{
    font-size: 30px;
    text-align: center;
}

ul {
    list-style: none;
}

.pagging-list {
    display: flex;
    margin-top: 30px;
}

.pagging-list li {
    padding: 8px 12px;
    border: 1px solid #dddfeb;
    background-color: #fff;
}

.pagging-list li a {
    text-decoration: none;
    color: #858796;
}

.pagging-active {
    background-color: #4e73df !important;
}

.pagging-active a {
    color: #fff !important;
}

.previous {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.next {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.img-thumbnail-blog {
    text-align: center;
    width: 78px;
    height: 30px;
}

.backlink-slide{
    width: 385px;
}

.title-slide{
    width: 200px;
}
