.container {
    padding: 0 24px;
    margin-top: 20px;
}

.container-title {
    color: #5a5c69;
    font-weight: 400;
    font-size: 35px;
}

.container-table {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    border-radius: 10px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: rgb(54 93 205);
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 24px 36px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent.active{
    display: block;
} 

table {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th i {
    float: right;
    font-size: 22px;
}

th,
td {
    text-align: left;
    padding: 12px;
    border: 1px solid #000;
    color: #858696;
}

th i {
    text-align: right;
    color: #858696;
}

.toggle{
    font-size: 30px;
    text-align: center;
}

.add-search{
    display: flex;
    justify-content: space-between;
}

#add-dimension {
    background-color: rgb(54, 93, 205);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.search-form{
    display: flex;
}

#search{
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 10px 0 0 10px;
    border: 1px solid #ccc;
}

#submit{
    background-color: rgb(54, 93, 205);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 0 10px 10px 0;
    border: 0;
}

.action-btn{
    border: 0;
    border-radius: 8px;
    background: #365dcd;
    display: flex;
    margin: auto;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    
}

.action-btn.first{
    width: 64px;
}
.action-btn.second{
    width: 80px;
    background: #ff3737;
}

.action-btn a{
    color: #fff;
    text-decoration: none;
}